# Application
NODE_ENV=development

NEXT_PUBLIC_APP_NAME="Viafar Shop"
NEXT_PUBLIC_APP_URL="http://localhost:3000"


# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/viafar_shop?schema=public"


# Authentication
AUTH_SECRET="change-me"


# Redis
REDIS_URL="redis://localhost:6379"


# Storage
# S3_BUCKET=
# S3_REGION=
# S3_ACCESS_KEY=
# S3_SECRET_KEY=
